body{
    background-color: #cbeeb4 ;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    padding: 0;
}

li{
    list-style: none;
    border: solid 1px black;
    margin: 5px 0 5px 0;
}

input{
    border: none;
    font-size: x-large;
}

select{
    font-size: x-large;
}

.flex{
    display: flex;
}
.linha{
    width: 100%;
    padding: 10px 0 10px 5px;
}
.butt{
    background-color: #75d236 ;
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: x-large;
}

.butt:hover{
    background-color: #589e29;
    color: white;
    border-color: black;
    font-size: x-large;
}

.papel{
    background-color: blue;
}
.plastico{
    background-color: red;
}
.metal{
    background-color: yellow;
}
.vidro{
    background-color: #75d236 ;
}
.organico{
    background-color: #BA4A00;
}

.delete_button{
    padding: 10px ;
    cursor: pointer;
}

.quadrado{
    width: 20px;
    height: 20px;
}

#material>select{
    width: 100%;
    text-align: center;
}
#material{
    margin-right: 50px;
    width: 10%;
}

#dica{
    width: 66%;
}

#dica>div>input{
    margin-right: 20px;
}

#filtro{
    width: 15%;
}

#filtroInput{
    margin-right: 10px;
}

#legenda>div{
margin: 5px 0 5px 0;
}

#legenda>div>div{
    margin-right: 5px;
    border: solid 1px black
}

#legenda>h2{
    margin-bottom: 10px;
}